.project--avatar-img {
  border-radius: 50%;
  width: 100%;
  max-width: 500px;
}

@media (max-width: 900px) {
  .project--avatar-img {
    border-radius: 0;
  }
}

@media (max-width: 640px) {
  .project--avatar-img {
    border-radius: 100%;
  }
}
